<!-- <button class="btn btn-custom right" type="button" routerLink = "/">Home</button> -->

<div class="container">
 
    <div class  ="main-wrapper">

        <!-- <div class="table-responsive"> -->
            <!-- <h3>Current Lab Reservation</h3> <br>
            <table class="table table-hover">
                <thead>
                  <tr>
                    <th>Reserved Date</th>
                    <th>Reserved Time</th>
                    <th>Lab name</th>
                    <th>Session</th>
                    <th>Booked person</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let labReservation of authService.labs">
                    <td class="txt-oflo">{{ labReservation.date }}</td>
                    <td>{{labReservation.time}}</td>
                    <td>{{labReservation.lab}}</td>
                    <td>{{labReservation.session}}</td>
                    <td>{{labReservation.person}}</td>
                  </tr>
                </tbody>
              </table> -->
          <!-- </div> -->
          <a class="btn btn-primary btn-lg" role="button" routerLink="/user">Go back</a>

          <br><br><br>

          

        <h3>Lab Requesting Form</h3>
        <div class="row">
          <div class="col s12 ">
            <div class="card" style="background-color: #eef0ef;">
              <div class="card-content ">
                <div class="row">
                  <div class="col s5">
                    <form #labForm="ngForm" (ngSubmit)="onSubmit(labForm)">
                      <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="authService.selectedLab._id">
                      <a>Reserving Date :</a>
                      <div class="row">
                        
                        <div class="input-field col s12">
                          
                          <input name="date" #name="ngModel" [(ngModel)]="authService.selectedLab.date" placeholder="Enter date" type="date" class="validate" required>
    
                          <!-- <label>Reserving date:
                            <label class="red-text">*</label>
                          </label> -->
                        </div> 
                      </div>
                      <a>Reserving Time :</a>
                      <div class="row">
                        <div class="input-field col s12">  
                            <!-- <div class="row">
                                <div class="col-md-6">
                                    <app-lab [options]="groupOptionsSelect" placeholder="Choose your option"></app-lab>
                                    <label>Example label</label>
                                </div>
                            </div>                          -->
                            <select  name="time" #name="ngModel" [(ngModel)]="authService.selectedLab.time" class="form-control" required>
                                <option value="" disabled selected >Choose your time slot</option>
                                <option value="8am-9am">8am-9am</option>
                                <option value="9am-10am">9am-10am</option>
                                <option value="10am-11am">10am-11am</option>
                                <option value="11am-12am">11am-12am</option>
                                <option value="12am-1pm">12am-1pm</option>
                                <option value="1pm-2pm">1pm-2pm</option>
                                <option value="2pm-3pm">2pm-3pm</option>
                                <option value="3pm-4pm">3pm-4pm</option>
                                <option value="4pm-5pm">4pm-5pm</option>
                            </select>
                            <!-- <div class="dropdown">
                                <button type="button" class="btn btn-custom dropdown-toggle" data-toggle="dropdown">
                                  Select a time slot
                                </button>
                                <div class="dropdown-menu">
                                  <a class="dropdown-item" href="#"></a>
                                  <a class="dropdown-item" href="#">Link 2</a>
                                  <a class="dropdown-item" href="#">Link 3</a>
                                  <div class="dropdown-divider"></div>
                                  <a class="dropdown-item" href="#">Another link</a>
                                </div>
                              </div> -->


                          <!-- <input name="time" #name="ngModel" [(ngModel)]="authService.selectedLab.time" placeholder="Enter time" type="time" class="validate"> -->
                          <!-- <label>Reserving time:
    
                          </label> -->
                        </div>
                      </div>
                      <a>Lab Name :</a>
                      <div class="row">
                        <div class="input-field col s12">

                            <select name="lab" #name="ngModel" [(ngModel)]="authService.selectedLab.lab" class="form-control" required>
                                <option value="" disabled selected >Select a lab </option>
                                <option value="A">Lab A</option>
                                <option value="B">Lab B</option>
                                <option value="C">Lab C</option>
                                <option value="D">Lab D</option>
                                <option value="E">Lab E</option>
                                <option value="ADMTC">Lab ADMTC</option>
                                <option value="3rd year">3rd year Lab</option>
                              
                                
                            </select>

                          <!-- <input name="lab" #name="ngModel" [(ngModel)]="authService.selectedLab.lab" placeholder="Enter Lab" type="text"
                            class="validate"> -->
                          <!-- <label>Lab name:
    
                          </label> -->
                        </div>
                      </div>
                      <a>Reason for booking :</a>
                      <div class="row">
                        <div class="input-field col s12">
                          <input name="session" #name="ngModel" [(ngModel)]="authService.selectedLab.session" placeholder="Enter reason" type="text" class="validate" required>
                          <!-- <label>Reason for booking :
    
                          </label> -->
                        </div>
                      </div>
                      <a>Booked person :</a>
                      <div class="row">
                          <div class="input-field col s12" >
                            <input name="person" #name="ngModel" [(ngModel)]="authService.selectedLab.person" placeholder="Enter person" value="{{username}}" type="text" class="validate" required>
                            <!-- <label>Booked person :
      
                            </label> -->
                          </div>
                          <div class="valid-feedback">
                              Looks good!
                            </div>
                        </div>
                       
                         
                      <div class="row">
                        <div class="input-field col s12">
                          <button class="btn btn-custom right" type="submit" [disabled]="!labForm.valid">Submit</button>
                          <button class="btn btn-custom right" type="button" (click)="resetForm(labForm)">Reset</button>

                        </div>
                      </div>
                    </form>
                  </div>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>

<br>