
<div class="container">
  <!-- <table class="table table-hover">
    <thead>
      <tr>
        <th>User</th>
        <th>password</th>

      </tr>
      <tr *ngFor="let user of authService.users">
        <td>{{ user.bname }}</td>
        <td>{{ user.password }}</td>
        <td>{{user.email}}</td>

      </tr>
    </thead>
  </table>
  <h2></h2> -->
  <br>
  <br>
  
</div><br><br>


<!-- #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)" -->

<div class="container">
    <div class="row">
      <div class="col s5">
          <form [formGroup]="loginForm" > 
             <div class="form-group"> 
                <!-- <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="authService.selectedUser._id"> -->
       
              <div class="row">
                <div class="input-field col s12">
                  <a>Email :</a>
                  <input formControlName="email"  placeholder="Enter Email" type="email" class="validate" required>
                  <!-- <label>Email:
    
                  </label> -->
                </div>
              </div>
        
              <div class="row">
                <div class="input-field col s12">
                    <a> Password :</a>
                  <input formControlName="password"  placeholder="Enter password" type="password" class="validate" required>
                  <!-- <label>Password:
    
                  </label> -->
                </div>
              </div>
             
          
              <div class="row">
                <div class="input-field col s12">
                  <button class="btn btn-custom right" type="submit" [disabled]="!loginForm.valid" (click)="loginUser()">Login</button>
                  <button class="btn btn-custom right" type="button" (click)="moveToRegister()">Register</button>
                  
                </div>
              </div>
             </div>
            </form>
      </div>
    </div>
  </div>
<!-- 
<div class="col-sm-12">
    <form [formGroup]="loginForm">
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input formControlName="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        <small id="emailHelp" class="form-text text-muted"></small>
      </div>
      <div class="form-group">
        <label for="passwordInput">Password</label>
        <input formControlName="password" type="password" class="form-control" id="passwordInput" aria-describedby="passHelp" placeholder="password">
        <small id="passHelp" class="form-text text-muted"></small>
      </div>

      <div class="form-group" style="text-align:center;">
          <button type="button" class="btn btn-dark" (click)="login()">Log in</button>
          <button type="button" class="btn btn-secondary" (click)="moveToRegister()">Register</button>
      </div>
    </form>
  </div>  -->
  



  <!-- <form #labForm="ngForm" (ngSubmit)="onSubmit(labForm)">
                      <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="authService.selectedLab._id">
                      <div class="row">
                        <div class="input-field col s12">
                          <input name="date" #name="ngModel" [(ngModel)]="authService.selectedLab.date" placeholder="Enter date" type="date" class="validate">
    
                          <label>Reserving date:
                            <label class="red-text">*</label>
                          </label>
                        </div>
                      </div>
                      <div class="row">
                        <div class="input-field col s12">
                          <input name="time" #name="ngModel" [(ngModel)]="authService.selectedLab.time" placeholder="Enter time" type="time" class="validate">
                          <label>Reserving time:
    
                          </label>
                        </div>
                      </div>
                      <div class="row">
                        <div class="input-field col s12">
                          <input name="lab" #name="ngModel" [(ngModel)]="authService.selectedLab.lab" placeholder="Enter Lab" type="text"
                            class="validate">
                          <label>Lab name:
    
                          </label>
                        </div>
                      </div>
                      <div class="row">
                        <div class="input-field col s12">
                          <input name="session" #name="ngModel" [(ngModel)]="authService.selectedLab.session" placeholder="Enter reason" type="text" class="validate">
                          <label>Reason for booking :
    
                          </label>
                        </div>
                      </div>
                      <div class="row">
                          <div class="input-field col s12">
                            <input name="person" #name="ngModel" [(ngModel)]="authService.selectedLab.person" placeholder="Enter person" type="text" class="validate">
                            <label>Booked person :
      
                            </label>
                          </div>
                        </div>
                      <div class="row">
                        <div class="input-field col s12">
                          <button class="btn btn-custom right" type="submit" [disabled]="!labForm.valid">Submit</button>
                          <button class="btn btn-custom right" type="button" (click)="resetForm(labForm)">Reset</button>

                        </div>
                      </div>
                    </form> -->

                  
